.input{
   border: none;
   width: 250px;
   padding-left: 24px;
   font-size: 30px;
   font-weight: bold;
   line-height: 29px;
   align-items: center;
   gap: 12px;
   letter-spacing: 10px;
   height: 40px;
}
