@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'inter';
  src: url(./fonts/Inter-Regular.ttf);
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "inter";
  -moz-box-sizing: border-box;/* Для Firefox */
  box-sizing: border-box;
  font-size: 16px;
  border:none;
}
body{
  background-color: #F0F0F0;
  
}
.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* Меняет скролл */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 35px;
}

/* Выключает фокус на бордерах при нажатии */
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
#popup{
  color: white;
  border-radius: 16px;
  background-color:#F34545;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}